h1 a { color: @black; }
.banner {
    h2 { font-size: @baseFontSize; }
}

nav ul li { margin-top: 20px; }

pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

.banner header h1 { font-size: 28px; }

#blog-archives h1 { font-size: 28px; }

#content {
    padding-left: 1em; 
    border-left: 1px solid; 
}

#footer {
    border-top: 1px solid;
    background-color: @grayLighter;
    .border-bottom-radius(@baseBorderRadius);
    margin-bottom: 20px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.bottom-nav {
    text-align: center;
}

body { font-family: 'Source Sans Pro', sans-serif; }
