td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
table .hll { background-color: #ffffcc }
table  { background: #f8f8f8; }
table .c { color: #408080; font-style: italic } /* Comment */
table .err { border: 1px solid #FF0000 } /* Error */
table .k { color: #008000; font-weight: bold } /* Keyword */
table .o { color: #666666 } /* Operator */
table .cm { color: #408080; font-style: italic } /* Comment.Multiline */
table .cp { color: #BC7A00 } /* Comment.Preproc */
table .c1 { color: #408080; font-style: italic } /* Comment.Single */
table .cs { color: #408080; font-style: italic } /* Comment.Special */
table .gd { color: #A00000 } /* Generic.Deleted */
table .ge { font-style: italic } /* Generic.Emph */
table .gr { color: #FF0000 } /* Generic.Error */
table .gh { color: #000080; font-weight: bold } /* Generic.Heading */
table .gi { color: #00A000 } /* Generic.Inserted */
table .go { color: #808080 } /* Generic.Output */
table .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
table .gs { font-weight: bold } /* Generic.Strong */
table .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
table .gt { color: #0040D0 } /* Generic.Traceback */
table .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
table .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
table .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
table .kp { color: #008000 } /* Keyword.Pseudo */
table .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
table .kt { color: #B00040 } /* Keyword.Type */
table .m { color: #666666 } /* Literal.Number */
table .s { color: #BA2121 } /* Literal.String */
table .na { color: #7D9029 } /* Name.Attribute */
table .nb { color: #008000 } /* Name.Builtin */
table .nc { color: #0000FF; font-weight: bold } /* Name.Class */
table .no { color: #880000 } /* Name.Constant */
table .nd { color: #AA22FF } /* Name.Decorator */
table .ni { color: #999999; font-weight: bold } /* Name.Entity */
table .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
table .nf { color: #0000FF } /* Name.Function */
table .nl { color: #A0A000 } /* Name.Label */
table .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
table .nt { color: #008000; font-weight: bold } /* Name.Tag */
table .nv { color: #19177C } /* Name.Variable */
table .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
table .w { color: #bbbbbb } /* Text.Whitespace */
table .mf { color: #666666 } /* Literal.Number.Float */
table .mh { color: #666666 } /* Literal.Number.Hex */
table .mi { color: #666666 } /* Literal.Number.Integer */
table .mo { color: #666666 } /* Literal.Number.Oct */
table .sb { color: #BA2121 } /* Literal.String.Backtick */
table .sc { color: #BA2121 } /* Literal.String.Char */
table .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
table .s2 { color: #BA2121 } /* Literal.String.Double */
table .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
table .sh { color: #BA2121 } /* Literal.String.Heredoc */
table .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
table .sx { color: #008000 } /* Literal.String.Other */
table .sr { color: #BB6688 } /* Literal.String.Regex */
table .s1 { color: #BA2121 } /* Literal.String.Single */
table .ss { color: #19177C } /* Literal.String.Symbol */
table .bp { color: #008000 } /* Name.Builtin.Pseudo */
table .vc { color: #19177C } /* Name.Variable.Class */
table .vg { color: #19177C } /* Name.Variable.Global */
table .vi { color: #19177C } /* Name.Variable.Instance */
table .il { color: #666666 } /* Literal.Number.Integer.Long */
