{% extends 'base.html' %}
{% block content %}
<section itemscope itemtype="http://schema.org/Person">
<header>
<hgroup>
<h1>About Me</h1>
</hgroup>
<dl>
    <dt>Name</dt>
    <dd itemprop="name">{{ author }}</dd>
    <dt>Email</dt>
    <dd itemprop="email">{{ author_email }}</dd>
</dl>
<p itemprop="description">Enter a description of yourself here.</p>

<h2>Find me on these sites</h2>
<ul>
    <!-- Add sites that you are signed-up for and link to your profile page on
    that service. Examples include GitHub, StackOverflow, Hacker News, reddit,
    etc. -->
    <li><a href="http://www.twitter.com/{{ twitter_user }}" itemprop="memberOf">@{{ twitter_user }} on Twitter</a></li>
</ul>

{% endblock %}
