{% extends 'base.html' %}
        {% block content %}
        <div>
  <div id="blog-archives">
  <h1 class="entry-title">Blog Archive</h1>
  <h2>2012</h2>
  {% for post in all_posts %}
  <article itemscope itemtype="http://schema.org/BlogPosting">
  {% include "post_heading.html" %}
    <footer>
    <p>posted in 
    {% for category in post.categories %}
    <a href='/blog/categories/{{ category }}/'><span itemprop="about">{{ category }}</span></a>,
    {% endfor %}
    </footer>
    </article>
{% endfor %}
</div>
</div>
{% endblock %}
