<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="author" content="{% block author %}{{ author }}{% endblock %}">

  
  <meta name="description" content="{% block description %}{{ description }}{% endblock %} &hellip;"> 

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="{% block canonical_url %}{{ url }}{% endblock %}">
  <link href="{{ blog_root|default('', true) }}/favicon.png" rel="icon">
  <link href="{{ blog_root|default('', true) }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="{{ blog_root|default('', true) }}/javascripts/modernizr-2.0.js"></script>
  <script src="{{ blog_root|default('', true) }}/javascripts/ender.js"></script>
  <script src="{{ blog_root|default('', true) }}/javascripts/octopress.js" type="text/javascript"></script>
  <link href="{{ feed_url }}" rel="alternate" title="{{ title }}" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_analytics_id }} ']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">{{ title }}</a></h1>
  
  <h2>{{ tag_line }}</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
      <li><a href={{ feed_url }} rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
      <input type="hidden" name="q" value="{{ domain }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="{{ blog_root|default((''), true)}}/{{ blog_prefix }}/archives">Archives</a></li>
  <li><a href="{{ blog_root|default((''), true)}}/about-me/">About Me</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
  {% block content %}
      <div class="blog-index">
  
  
 {% for post in recent_posts %} 
    <article>
  <header>
  <h1 class="entry-title"><a href="{{ post.relative_url }}">{{ post.title }}</a></h1>
      <p class="meta">
    <time datetime="{{ post.date }}" pubdate data-updated="true">{{ post.date.strftime(' %Y-%m-%d %I:%M ') }}</time>
      </p>
  </header>
  <div class="entry-content">
{{ post.body }}
</div>
  
    <footer>
      <a rel="full-article" href="{{ post.relative_url }}">Read on &rarr;</a>
    </footer>
    </article>
{% endfor %}  
  <div class="pagination">
    
      <a class="prev" href="/blog/page//page/2/">&larr; Older</a>
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
{% endblock content %}
{% block sidebar %}
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      {% for r_post in recent_posts %}
      <li class="post">
      <a href="{{ r_post.relative_url }}">{{ r_post.title }}</a>
      </li>
      {% endfor %} 
  </ul>
</section>
<section>
  <h1>Github Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
  <a href="https://github.com/{{ github_user }}">@{{ github_user }}</a> on Github
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: '{{ github_user }}',
            count: 4,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>


<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
            getTwitterFeed("{{ twitter_user }}", 4, false);
    });
  </script>
  <script src="/javascripts/twitter.js" type="text/javascript"> </script>
  
  <a href="http://twitter.com/{{ twitter_user }}" class="twitter-follow-button" data-show-count="false">Follow @{{ twitter_user }}</a>
  
</section>





  
</aside>
{% endblock sidebar %}
    </div>
  </div>
  {% block footer %}
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - {{ author }}-
  <span class="credit">Powered by <a href="http://www.github.com/jeffknupp/blog">bleg</a></span>
</p>

<a title="Real Time Web Analytics" href="http://getclicky.com/{{ clicky_id }}"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init({{ clicky_id }}); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66535137ns.gif" /></p></noscript>
</footer>
{% endblock %} 

<script type="text/javascript">
    var disqus_shortname = '{{ disqus_shortname }}';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId={{ facebook_appid }}&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
