<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="author" content="{% block author %}{{ author }}{% endblock %}">

  
  <meta name="description" content="{% block description %}{{ description }}{% endblock %}"> 

  <link rel="icon" href="{{ blog_root|default('', true) }}/images/favicon.png" >
  <link rel="alternate" href="{{ feed_url }}" title="{{ title }}" type="application/atom+xml">
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <header role="banner">
    <hgroup>
    <h1><a href="/"><span itemprop="name">{{ title }}</span></a></h1>
    <h2 itemprop="alternativeHeadline">{{ tag_line }}</h2>
    <h3><a href="{{ blog_root|default((''), true)}}/about-me/" itemprop="author" itemscope itemtype="http://schema.org/Person">Jeff Knupp</a></h3>
    </hgroup>
    <nav role="navigation">
    <ul>
        <li><a href={{ feed_url }} rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
        <li><a href="{{ blog_root|default((''), true)}}/{{ blog_prefix }}/archives">Archives</a></li>
        <li><a href="{{ blog_root|default((''), true)}}/about-me/">About Me</a></li>
    </ul>
    </nav>
    </header>
    <div id="content">
        {% block content %} {{ content }} {% endblock %}
    </div>
</body>
