<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="author" content="{% block author %}{{ author }}{% endblock %}">

  
  <meta name="description" content="{% block description %}{{ description }}{% endblock %}"> 

  <link rel="icon" href="{{ blog_root|default('', true) }}/images/favicon.png" >
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
  <link href='/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <link rel="alternate" href="{{ feed_url }}" title="{{ title }}" type="application/atom+xml">
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="banner">
    <header role="banner">
    <hgroup>
    <h1><a href="/"><span itemprop="name">{{ title }}</span></a></h1>
    <h2 itemprop="alternativeHeadline">{{ tag_line }}</h2>
    </hgroup>
    <nav role="navigation">
    <ul class="unstyled">
        <li><a href={{ feed_url }} rel="subscribe-rss" title="subscribe">subscribe</a></li>
        <li><a href="{{ blog_root|default((''), true)}}/{{ blog_prefix }}/archives"> archives</a></li>
        <li><a href="http://www.twitter.com/{{twitter_user}}">@{{twitter_user}}</a></li>
        <li><a href="{{ blog_root|default((''), true)}}/about-me/"><span itemprop="author" itemscope itemtype="http://schema.org/Person">Jeff Knupp</span>?</a></li>
    </ul>
    </nav>
    </header>
</div>
</div>
<div class="span9">
    <div id="content">
        {% block content %} {{ content }} {% endblock %}
    </div>
</div>
</div>
</div>
</body>
