<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <title>Writing Idiomatic Python Book</title>
  <meta name="author" content="Jeff Knupp">
  <meta name="description" content="An eBook dedicated to learning to write idiomatic Python code"> 

  <link rel="icon" href="/images/favicon.png" >
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='/css/bootstrap-responsive.min.css' rel='stylesheet' type='text/css'>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <link rel="alternate" href="http://feeds.feedburner.com/hackersgonnahack" title="Hackers Gonna Hack" type="application/atom+xml">
  <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12615441-1 ']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<style type="text/css">
	#mc_embed_signup{clear:left; }
</style>
 <style type="text/css">
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }
  </style>
 <style type="text/css">
      body {
          font-size: 14px;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      iframe { 
        width: 120px;
        height: 240px;
        }
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 30px 30px;
        text-align: center;
      }
      .jumbotron > h1 {
        font-size: 24px;
        line-height: 1;
        width: 100%;
      }
      .jumbotron > h4 {
        font-size: 18px;
        line-height: 1;
        width: 100%;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
        a > img {
            padding-bottom: 10px;
        }

        .cover > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

        .cover {
            text-align: center;
            }
        .modal-body h4, p {
            text-align: center;
        }
        .modal-body img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       h1, h2, h3, h4, h5, h6 {
        width: 100%;
        }
      .about {
        text-align: center;
        }
      h5 {
        margin-top: 0px;
        }
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .buy {
        text-align: center;
        background-color: lightYellow;
        padding: 24px;
      }
      .preferred {
        text-align: center;
        background-color: red;
        padding: 24px;
      }
    </style>
    <div class="row">
    <div class="span10 offset1">
        <h1 style="text-align: center;">The Writing Idiomatic Python eBook</h1>
    </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <hr>
            <div class="jumbotron">
                <h1>Idiomatic Python Code is What Separates Novices From Experts</h1>
                <h4>Luckily, learning how to write it just got a whole lot easier...</h4>
            </div>
            <p>The <em>Writing Idiomatic Python</em> book is finally here! Chock full of
            code samples, you'll learn the "Pythonic" way to accomplish common tasks.
            Each idiom comes with a detailed description, example code showing the
            "wrong" way to do it, and code for the idiomatic, "Pythonic"
            alternative.</p>
            <hr>
        </div>
    </div>
         <div class="row">
         <div class = "span10 offset1">
            <h3>This book is perfect for <em>you</em></h3>
            <ul>
                <li>If you're coming to Python from another programming language</li>
                <li>If you're learning Python as a first programming language</li>
                <li>If you're looking to increase the readability, maintainability, and correctness
                of your Python code</li>
            </ul>
            <p>You'll find <em>Writing Idiomatic Python</em> a valuable tool. If
            you don't, <b>I'll refund you the full price of the book (which is still yours
                to keep)</b>. Why offer a money back guarantee on a book? <em>I</em> like
            having that extra level of comfort, and I'm guessing you do too. If you're not satisfied for any reason, just email me at <a href="mailto: jeff@jeffknupp.com">jeff@jeffknupp.com</a> within 30 days of your purchase.</p>
            <p><span class="label label-info">Note</span> The book is still in the "beta" stage, with corrections and new content added frequently. If you order now (at the lower, preorder price), you'll receive the 58 page PDF today and <b>you'll get every update as soon as it's written, automatically</b></p>
            </div>
        </div>

        <div class="row">
            <div class="span10 offset1 buy">
            <h4>Start writing better Python right now</h4>
            <h6>Choose the version that's right for you</h6>
            <p><em>Writing Idiomatic Python</em> comes in two versions: one for Python
            2.7.3+ and one for Python 3.3+. Each has a number of idioms unique to their
            Python version.</p>
            </div>
            </div>
            <div class="row">
                <div class="span10 offset1 buy">
                    <div class="row">
                        <div class="span3">
                            <p><b>Python 2.7.3+</b></p>
                            <a class="btn btn-success"  data-toggle="modal" data-target="#python2modal">Buy the PDF for Python 2.7.3+ for $8.99 (preorder price)</a>
                            <hr>
                            <a class="btn btn-success"  data-toggle="modal" data-target="#python2epubmodal">Buy the ePub for Python 2.7.3+ for $8.99 (preorder price)</a>
                        </div>
                        <div class="span4">
                            <p><b>Complete Bundle</b></p>
                                <a class="btn btn-warning" data-toggle="modal" data-target="#allversionsmodal">Buy both versions in both formats (4 files total) for $12.99 (preorder price)</a>
                        </div>
                        <div class="span3">
                            <p><b>Python 3.3+</b></p>
                            <a class="btn btn-success" data-toggle="modal" data-target="#python3modal">Buy the PDF for Python 3.3+ for $8.99 (preorder price)</a>
                            <hr>
                            <a class="btn btn-success" data-toggle="modal" data-target="#python3epubmodal">Buy the ePub for Python 3.3+ for $8.99 (preorder price)</a>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="span4 offset4 cover">
                            <h5>Also available on the Amazon Kindle</h5>
                            <img src="/images/cover2.jpg"height="160" width="160" />
                                    <p>
                                    <a href="http://www.amazon.com/gp/product/B00B5KG0F8/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00B5KG0F8&linkCode=as2&tag=jeffknuppcom-20"> Writing Idiomatic Python 2.7.3
                                    <br></a>
                                    <a href="http://www.amazon.com/gp/product/B00B5VXMRG/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00B5VXMRG&linkCode=as2&tag=jeffknuppcom-20"> Writing Idiomatic Python 3.3
                                    <img src="http://www.assoc-amazon.com/e/ir?t=jeffknuppcom-20&l=as2&o=1&a=B00B5VXMRG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="span10 offset1">
                    <hr>
            </div>
        </div>
    <div class="row">
        <div class="span5 offset1">
            <h3>Here's a peek inside the book...</h3>
            </div>
        <div class="span6">
            <h3>What is "Idiomatic" Python?</h3>
        </div>
    </div>
    <div class="row">
        <div class="span5 offset1">
<h5 id="use-the-enumerate-function-in-loops-instead-of-creating-an-index-variable"><a href="#TOC"><span class="header-section-number">1.1.1</span> Use the  <code>enumerate</code> function in loops instead of creating an &#8220;index&#8221; variable</a></h5>
<p>Programmers coming from other languages are used to explicitly declaring a variable to track the index of a container in a loop. For example, in C++:</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp">    <span class="kw">for</span> (<span class="dt">int</span> i=<span class="dv">0</span>; i &lt; container.size(); ++i)
    {
        <span class="co">// Do stuff</span>
    }</code></pre>
<p>In Python, the  <code>enumerate</code> built-in function handles this role.</p>
<h6 id="harmful"><a href="#TOC"><span class="header-section-number">1.1.1.1</span> Harmful</a></h6>
<pre class="sourceCode python"><code class="sourceCode python">    my_container = [<span class="st">&#39;Larry&#39;</span>, <span class="st">&#39;Moe&#39;</span>, <span class="st">&#39;Curly&#39;</span>]
    index = <span class="dv">0</span>
    <span class="kw">for</span> element in my_container:
        <span class="kw">print</span> (<span class="st">&#39;{} {}&#39;</span>.<span class="dt">format</span>(index, element))
        index += <span class="dv">1</span></code></pre>
<h6 id="idiomatic"><a href="#TOC"><span class="header-section-number">1.1.1.2</span> Idiomatic</a></h6>
<pre class="sourceCode python"><code class="sourceCode python">    my_container = [<span class="st">&#39;Larry&#39;</span>, <span class="st">&#39;Moe&#39;</span>, <span class="st">&#39;Curly&#39;</span>]
    <span class="kw">for</span> index, element in <span class="dt">enumerate</span>(my_container):
        <span class="kw">print</span> (<span class="st">&#39;{} {}&#39;</span>.<span class="dt">format</span>(index, element))</code></pre>
<p></p>
<hr>
<h3>The Table of Contents</h3>
<ul>
    <li>Control Structures and Functions
    <ul>
        <li>For loops</li>
        <li>Functions</li>
        <li>If Statements</li>
    </ul></li>
    <li> Working with Data
    <ul>
        <li>Classes</li>
        <li>Dictionaries</li>
        <li>Lists</li>
        <li>Strings</li>
        <li>Tuples</li>
        <li>Variables</li>
        <li>Generators</li>
        <li>Context Managers</li>
        <li>Sets</li>
    </ul></li>
    <li>Organizing Your Code
    <ul>
        <li>Formatting</li>
        <li>Imports</li>
        <li>Modules and Packages</li>
        <li>Executable Scripts</li>
    </ul></li>
    <li>General Advice
    <ul>
        <li>Avoid Reinventing the Wheel</li>
        <li>Modules of Note</li>
    </ul></li>
</ul>
            </div>
        <div class="span6 well">
        <p>Every programming language has its own <em>idioms</em>. Programming
        language idioms are nothing more than the generally accepted way of writing a
        certain piece of code. In Python, for example, there are many ways to
        write code that loops over the elements of a list. You <em>could</em>
        write:</p>
        <pre><code>
        i = 0
        <span class="kw">while</span> i &lt <span class="kw">len</span>(my_list):
            # do stuff...
            i += 1
            </code></pre>
            <p>
            This would work just fine. But it's not <b>idiomatic</b> (or
            "Pythonic"). The
            idiomatic version is:</p>
            <pre><code><span class="kw">for</span> i <span class="kw">in</span> my_list: </pre></code>
            <h5>OK, But Why Should I Care?</h5>
            <p>Consistently writing idiomatic code has a number of important
            benefits:</p>
            <ul>
                <li>Others can <b>read and understand</b>your code easily</li>
                <li>Others can <b>maintain and enhance</b> your code with
                minimal effert</li>
                <li>Your code will <b>contain fewer bugs</b></li>
                <li>Your code will <b>teach others</b> to write correct code without any effort
                on your part</li>
            </ul>
            <h5>Sounds great, but I'm new to Python. How do I learn to write idiomatic code?</h5>
            <p>This was always the toughest part. Previously, the only ways to
            learn idiomatic Python were to</p>
            <ul>
                <li>Read existing code <em>(but how do you know if it's idiomatic?)</em></li>
                <li>Get feedback during a code review <em>(which only helps if
                you're working with others, you do code reviews, and <b>they
                know</b> what is idiomatic)</em></li>
                <li>Buy a general book on the language <em>(which may <b>use</b>
                idioms, but probably won't point them out or explain why they're
                important)</em></li>
            </ul>
            <h5>There should be an easier way!</h5>
            <p>There is! <em>Writing Idiomatic Python</em> contains the most common
            and important Python idioms in a format that maximizes
            <em>identification</em> and <em>understanding</em>. Each idiom is
            presented as a recommendation to write some commonly used piece of
            code (like the <code>for</code> loop above). It is followed by an
            <b>explanation</b> of why the idiom is important. It also contains
            two <b>code samples</b>: the "Harmful" way to write it and the
            "Idiomatic" way.</p>
            <ul>
            <li>The "Harmful" way helps you identify the idiom in
            your own code.</li>
            <li>The "Idiomatic" way shows you how to easily translate
            that code into idiomatic Python.</li>
            </ul>
        </div>
        </div>
        <div class="row">
            <div class="span10 offset1">
                <hr>
            </div>
        </div>
        <div class="row">
        <div class="span5 offset1">
            <h3>Can't afford the book?</h3>
            <p>If you're financial situation doesn't afford you the opportunity to
            purchase the book, email me at <a href="mailto: jeff@jeffknupp.com">jeff@jeffknupp.com</a> and I'll happily send
            you a free copy. Just be sure to note in your email which version
            you'd like.</p>
        </div>
        <div class="span6">
            <h3>Questions or comments about the book?</h3>
            <p>I'm always eager to hear feedback, both positive and negative. I
            encourage you to email me at <a href="mailto: jeff@jeffknupp.com">jeff@jeffknupp.com</a>.
            I do my best to respond to all email within 24 hours.</p>
        </div>
    </div>
</div>
        <div class="row">
            <div class="row">
                <div class="span10 offset1">
                    <hr>
            </div>
        </div>
    <div class="row">
        <div class="span5 offset1">
            <h3>About the author</h3>
            <p>I'm Jeff Knupp, professional software developer and frequent
            blogger. Check out <a href="http://www.jeffknupp.com">my blog</a> or
            <a href="http://www.twitter.com/jeffknupp">follow me on twitter<a/>.</p>
        </div>
        <div class="span6">
<div id="mc_embed_signup" class="well">
<form action="http://jeffknupp.us6.list-manage1.com/subscribe/post?u=51d2d98cf34cbcc20db22e5fa&amp;id=f15bb537ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h4 style="text-align: center;">Keep up to date!</h4>
  <p>Sign up for the free jeffknupp.com email newsletter to get updates about <em>Writing Idiomatic Python</em>. Sent roughly once a month, it also includes articles on Python programming, scalable web development, and growing your freelance consultancy. And of course, you'll never be spammed, your privacy is protected, and you can opt out at any time.</p>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
</div>
    </div>
   </div>
</div>
</div>
</div>
<div class="row">
    <div class="span10 offset1">
    <div id="footer">
        
            <footer role="contentinfo"><p>
            Copyright &copy; 2013 - Jeff Knupp-
            </p>
            </footer>
            <a title="Real Time Web Analytics" href="http://getclicky.com/66535137"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
                        <script src="//static.getclicky.com/js" type="text/javascript"></script>
                                    <script type="text/javascript">try{ clicky.init(66535137); }catch(e){}</script>
                                                <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66535137ns.gif" /></p></noscript>
    </div>
</div>
</div>
<div id="python3modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Buy the Writing Idiomatic Python PDF for Python 3.3+</h3>
  </div>
  <div class="modal-body">
    <h4>Choose your payment method</h4>
    <ul class="unstyled">
        <p>VISA, Mastercard, AMEX, Discover, JCB or Diners Club.<br><b>Processed by Gumroad</b></p><a href="http://gum.co/Ejqf" onclick="_gaq.push(['_link', 'http://gum.co/Ejqf']); return false;"><img src="/images/ccs.png" height="25" width="175"/></a>
        <hr>
        <p>Google Wallet</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201431&c=gc&cl=238678&ejc=4" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201431&c=gc&cl=238678&ejc=4']); return false;"><img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=666428885640583&w=160&h=43&style=trans&variant=text&loc=en_US" border="0" alt="Buy Now"/></a>
        <hr>
        <p>PayPal</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201431&c=single&cl=238678" target="ejejcsingle" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201431&c=single&cl=238678" target="ejejcsingle']); return false;"><img src="/images/EC-button.gif" border="0" alt="Buy Now"/></a>
  </div>
</div>
<div id="python3epubmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Buy the Writing Idiomatic Python ePub For Python 3.3+</h3>
  </div>
  <div class="modal-body">
    <h4>Choose your payment method</h4>
    <p>VISA, Mastercard, AMEX, Discover, JCB or Diners Club.<br><b>Processed by Gumroad</b></p><a href="http://gum.co/AQFk" onclick="_gaq.push(['_link', 'http://gum.co/AQFk']); return false;"><img src="/images/ccs.png" height="25" width="175" /></a>
        <hr>
        <p>Google Wallet</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201471&c=gc&cl=238678&ejc=4" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201471&c=gc&cl=238678&ejc=4']); return false;"><img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=666428885640583&w=160&h=43&style=trans&variant=text&loc=en_US" border="0" alt="Buy Now"/></a>
        <hr>
        <p>PayPal</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201471&c=single&cl=238678" target="ejejcsingle" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201471&c=single&cl=238678" target="ejejcsingle']); return false;"><img src="/images/EC-button.gif" border="0" alt="Buy Now"/></a>
  </div>
</div><div id="python2epubmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Buy the Writing Idiomatic Python ePub For Python 2.7.3+</h3>
  </div>
  <div class="modal-body">
    <h4>Choose your payment method</h4>
    <p>VISA, Mastercard, AMEX, Discover, JCB or Diners Club.<br><b>Processed by Gumroad</b></p><a href="http://gum.co/HmoA" onclick="_gaq.push(['_link', 'http://gum.co/HmoA']); return false;"><img src="/images/ccs.png" height="25" width="175" /></a>
        <hr>
        <p>Google Wallet</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201465&c=gc&cl=238678&ejc=4" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201465&c=gc&cl=238678&ejc=4']); return false;"><img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=666428885640583&w=160&h=43&style=trans&variant=text&loc=en_US" border="0" alt="Buy Now"/></a>
        <hr>
        <p>PayPal</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201465&c=single&cl=238678" target="ejejcsingle" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201465&c=single&cl=238678" target="ejejcsingle']); return false;"><img src="/images/EC-button.gif" border="0" alt="Buy Now"/></a>
  </div>
</div>
<div id="python2modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Buy the Writing Idiomatic Python PDF For Python 2.7.3+</h3>
  </div>
  <div class="modal-body">
    <h4>Choose your payment method</h4>
    <p>VISA, Mastercard, AMEX, Discover, JCB or Diners Club.<br><b>Processed by Gumroad</b></p><a href="http://gum.co/DLgC" onclick="_gaq.push(['_link', 'http://gum.co/DLgC']); return false;"><img src="/images/ccs.png" height="25" width="175" /></a>
        <hr>
        <p>Google Wallet</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201405&c=gc&cl=238678&ejc=4" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201405&c=gc&cl=238678&ejc=4']); return false;"><img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=666428885640583&w=160&h=43&style=trans&variant=text&loc=en_US" border="0" alt="Buy Now"/></a>
        <hr>
        <p>PayPal</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201405&c=single&cl=238678" target="ejejcsingle" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201405&c=single&cl=238678" target="ejejcsingle']); return false;"><img src="/images/EC-button.gif" border="0" alt="Buy Now"/></a>
  </div>
</div>
<div id="allversionsmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Buy the Writing Idiomatic Python Bundle</h3>
  </div>
  <div class="modal-body">
      <h4><em>The bundle includes the PDF and ePub versions for both Python 2.7.3+ and Python 3.3 (a total of 4 files).</em></h4>
    <h4>Choose your payment method</h4>
    <p>VISA, Mastercard, AMEX, Discover, JCB or Diners Club.<br><b>Processed by Gumroad</b></p><a href="http://gum.co/LOUE" onclick="_gaq.push(['_link', 'http://gum.co/LOUE']); return false;"><img src="/images/ccs.png" height="25" width="175" /></a>
        <hr>
        <p>Google Wallet</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201556&c=gc&cl=238678&ejc=4" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201556&c=gc&cl=238678&ejc=4']); return false;"><img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=666428885640583&w=160&h=43&style=trans&variant=text&loc=en_US" border="0" alt="Buy Now"/></a>
        <hr>
        <p>PayPal</p><a href="https://www.e-junkie.com/ecom/gb.php?i=1201556&c=single&cl=238678" target="ejejcsingle" onclick="_gaq.push(['_link', 'https://www.e-junkie.com/ecom/gb.php?i=1201556&c=single&cl=238678" target="ejejcsingle']); return false;"><img src="/images/EC-button.gif" border="0" alt="Buy Now"/></a>
  </div>
</div>
</body>
