{% extends 'base.html' %}
{% block title %}Writing Idiomatic Python Book{% endblock %}
{% block description %}An eBook dedicated to learning to write idiomatic Python code{% endblock %}
{% block fullbody %}
 <style type="text/css">
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }
  </style>
 <style type="text/css">
      body {
          font-size: 14px;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 30px 30px;
        text-align: center;
      }
      .jumbotron > h1 {
        font-size: 36px;
        line-height: 1;
        width: 100%;
      }
      .jumbotron > h4 {
        font-size: 18px;
        line-height: 1;
        width: 100%;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .buy {
          padding: 14px 24px;
          margin-bottom: 14px;
      }
    </style>
    <div class="masthead">
        <h3>Writing Idiomatic Python</h3>
    </div>
    <div class="row">
        <div class="span11 offset1">
            <hr>
            <div class="jumbotron">
                <h1>Idiomatic Python Code is What Separates Novices From Experts</h1>
                <h4>Luckily, learning how to write it just got a whole lot easier...</h4>
            </div>
            <p>The <em>Writing Idiomatic Python</em> book is finally here! Chock full of
            code samples, you'll learn the "Pythonic" way to accomplish common tasks.
            Each idiom comes with a detailed description, example code showing the
            "wrong" way to do it, and code for the idiomatic, "Pythonic"
            alternative.</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class = "span5 offset1">
            <p>Are you:</p>
            <ul>
                <li>Coming to Python from another programming language?</li>
                <li>Learning Python as a first programming language?</li>
                <li>Looking to increase the readabilty, maintainability, and correctness
                of your Python code?</li>
            </ul>
            <p>If so, you'll find <em>Writing Idiomatic Python</em> a valuable tool. If
            you don't, <b>I'll refund you the full price of the book (which is still yours
                to keep)</b>. Why offer a money back guarantee on a book? Because I know <em>I</em> like
            having that extra level of comfort, and I'm guessing you do too. The book is
            still in the "beta" stage, with corrections and new content added frequently. If you preorder now
            (at the lower, preorder price), <b>you'll get every update as soon as it's
                written, automatically</b></p>
            </div>
        <div class="span6">
            <h4>Here's a peek inside the book...</h4>
            <div>
<h5 id="use-the-enumerate-function-in-loops-instead-of-creating-an-index-variable"><a href="#TOC"><span class="header-section-number">1.1.1</span> Use the  <code>enumerate</code> function in loops instead of creating an &#8220;index&#8221; variable</a></h5>
<p>Programmers coming from other languages are used to explicitly declaring a variable to track the index of a container in a loop. For example, in C++:</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp">    <span class="kw">for</span> (<span class="dt">int</span> i=<span class="dv">0</span>; i &lt; container.size(); ++i)
    {
        <span class="co">// Do stuff</span>
    }</code></pre>
<p>In Python, the  <code>enumerate</code> built-in function handles this role.</p>
<h6 id="harmful"><a href="#TOC"><span class="header-section-number">1.1.1.1</span> Harmful</a></h6>
<pre class="sourceCode python"><code class="sourceCode python">    my_container = [<span class="st">&#39;Larry&#39;</span>, <span class="st">&#39;Moe&#39;</span>, <span class="st">&#39;Curly&#39;</span>]
    index = <span class="dv">0</span>
    <span class="kw">for</span> element in my_container:
        <span class="kw">print</span> (<span class="st">&#39;{} {}&#39;</span>.<span class="dt">format</span>(index, element))
        index += <span class="dv">1</span></code></pre>
<h6 id="idiomatic"><a href="#TOC"><span class="header-section-number">1.1.1.2</span> Idiomatic</a></h6>
<pre class="sourceCode python"><code class="sourceCode python">    my_container = [<span class="st">&#39;Larry&#39;</span>, <span class="st">&#39;Moe&#39;</span>, <span class="st">&#39;Curly&#39;</span>]
    <span class="kw">for</span> index, element in <span class="dt">enumerate</span>(my_container):
        <span class="kw">print</span> (<span class="st">&#39;{} {}&#39;</span>.<span class="dt">format</span>(index, element))</code></pre>
<p></p>
</div>
        </div>
    </div>
        <div class="row">
            <div class="span8 offset2">
            <h4>Choose the version that's right for you</h4>
            <p><em>Writing Idiomatic Python</em> comes in two versions: one for Python
            2.7.3+ and one for Python 3.3+. Each has a number of idioms unique to their
            Python version.</p>
            <p><b>Python 2.7.3+</b></p>
                <a class="btn btn-success buy">Buy the eBook for Python 2.7.3+ for $8.99 (preorder price)</a>
            <p><b>Python 3.3+</b></p>
                <a class="btn btn-success buy">Buy the eBook for Python 3.3+ for $8.99 (preorder price)</a>
            <p><b>Both Versions</b></p>
            <a class="btn btn-success buy">Buy both eBook versions for $12.99 (preorder price)</a>
            </div>
        </div>
    </div>
<div class="span12">
    <div id="footer">
        {% block footer %}
            <footer role="contentinfo"><p>
            Copyright &copy; 2013 - {{ author }}-
            </p>
            </footer>
        {% endblock %} 
    </div>
</div>
</div>
</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId={{ facebook_appid }}&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>
{% endblock %}
