{% extends 'base.html' %}
  {% block content %}
      <div class="blog-index">
  
  
 {% for post in recent_posts %} 
    <article>
  <header>
  <h1 class="entry-title"><a href="{{ post.relative_url}}">{{ post.title }}</a></h1>
      <p class="meta">
      <time datetime="{{ post.date }}" pubdate data-updated="true">{{ post.date.strftime('%Y-%m-%d %I:%M') }}</time>
      </p>
  </header>
  <div class="entry-content">
{{ post.teaser }}
</div>
  
    <footer>
      <a rel="full-article" href="{{ post.relative_url }}">Read on &rarr;</a>
    </footer>
    </article>
{% endfor %}  
  <div class="pagination">
    
      <a class="prev" href="/blog/page//page/2/">&larr; Older</a>
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
{% endblock %}
