      <div class="sharing">
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ post.canonical_url }}" data-via="{{ twitter_user }}" data-counturl="{{ post.canonical_url }}" >Tweet</a>
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
</div>
    <p class="meta">
    <a class="basic-alignment left" href="{{ post.post_previous.relative_url }}" title="Previous Post: {{ post.post_previous.title }}">&laquo; {{ post.post_previous.title }}</a>
    </p>
  </footer>
</article>
<section>
        <div id="disqus_thread"></div>
<script type="text/javascript">
            var disqus_shortname = '{{ disqus_shortname }}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 
  </section>
  </div>

