{% extends 'base.html' %}
        {% block canonical_url %}{{ post.canonical_url }}{% endblock %}
        {% block content %}
      <div>
<article class="hentry" role="article">
  <header>
  <h1 class="entry-title">{{ post.title }}</h1>
      <p class="meta">
      <time datetime="{{ post.date }}" pubdate data-updated="true">{{ post.date.strftime('%Y-%m-%d %I:%M') }}</time>
      </p>
  </header>
  <div class="entry-content">
      {{ post.body }}
</div>
  <footer>
    <p class="meta">
    <span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>
    <time datetime="{{ post.date }}" pubdate data-updated="true">{{ post.date.strftime(' %Y-%m-%d %I:%M ') }}</time>
<span class="categories">
    {% for category in categories %}
    <a class='category' href='/blog/categories/{{ category }}/'>{{ category }}</a>,
    {% endfor %}
</span>
    </p>
      <div class="sharing">
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ post.canonical_url }}" data-via="{{ twitter_user }}" data-counturl="{{ post.canonical_url }}" >Tweet</a>
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
</div>
    <p class="meta">
    <a class="basic-alignment left" href="{{ post.post_previous.relative_url }}" title="Previous Post: {{ post.post_previous.title }}">&laquo; {{ post.post_previous.title }}</a>
    </p>
  </footer>
</article>
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>
  </div>
{% endblock content %} 
