{% extends 'base.html' %}
{% block content %}
<h1>Python Tutoring</h1>
<h3>Want to improve your Python but reading books just isn't cutting it?</h3>
<p>I'm currently accepting new students for Python (and Django) tutoring.
Availability is first come, first served. Sessions can be conducted remotely or,
if you're in the NYC area, in person. <strong>Slots are filling up quickly. If
you want to sign-up or would like more information, email me at 
<a href="mailto:jeff@jeffknupp.com">jeff@jeffknupp.com</a></strong></p>

<h4>How is the content for tutoring sessions chosen?</h4>
<p>Tutoring sessions are tailored specifically to you and your needs. Before
the first session, we'll discuss what you're looking to accomplish with Python.
The material is individually focused to help you achieve your goals as quickly 
as possible. And you'll learn a good deal along the way.</p>

<h4>How long are tutoring sessions?</h4>
<p>Tutoring sessions last one hour, though longer sessions can be arranged in
advance.</p>

<h4>How often can we meet?</h4>
<p>Tutoring sessions are offered either once or twice per week. Twice per week
sessions are offered at a reduced rate.</p>
  
<h4>What are your qualifications?</h4>
<p>I'm the author of the Python book, <a href="http://www.jeffknupp.com/writing-idiomatic-python-ebook">Writing Idiomatic Python</a>. I've been a professional software developer in the financial industry for a decade and Python user for longer. I'm also an acknowledged contributor to the Python language (<a href="http://hg.python.org/cpython/file/fcc61327c86c/Misc/ACKS">see line 644 of the ACKS file</a>). If you're still unsure, read a few of my <a href="http://www.jeffknupp.com">blog</a> articles to determine if it would be a good fit.</p> 

{% endblock %}
